<extend name="Public/base"/>

<block name="body">
    <div class="cf">
        <div class="search-form fr cf">
        <form class="form-inline" role="form" action="{:U('Statistics/user')}" method="post">
              <div class="form-group">
                <label  for="s_date">开始时间：</label>
                <input type="text" class="form-control input-sm" id="s_date" name="s_date" value="{$start_date}" placeholder="开始时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
              </div>
              <div class="form-group">
               
                  <label  for="s_date">结束时间：</label>
                  <input class="form-control input-sm" type="text" id="e_date" name="e_date" value="{$end_date}"  placeholder="结束时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                
              </div>
              
              <button type="submit" class="btn btn-default">查询</button>
        </form>

        </div>
    </div>

    <div class="fr">
        <button type="submit" class="btn btn-default btn-export" url="{:U('userExport',array('s_date'=>$start_date,'e_date'=>$end_date))}">导出</button>
    </div>

    <div id="container" class="data-table"></div>
    <div class="fr">每日平均: <span style="color:red">{$average}</span>人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区间合计：<span style="color:red">{$sum}</span>人 </div>
</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/highstock/js/highstock.js"></script>
<script type="text/javascript" src="__STATIC__/highstock/js/modules/exporting.js"></script>
<script type="text/javascript" src="__STATIC__/highstock/js/themes/dark-unica.js"></script>
<script type="text/javascript">
$(function () {
	Highcharts.setOptions({
		global: {
			useUTC: false
		}
	});
	$('#container').highcharts({
		credits:{
			enabled : false
		},

        title : {
            text : '新增用户统计表'
        },

        series :{$series|json_encode},

        xAxis: {
        	categories:{$category|json_encode},
            labels: {
                rotation: -45,
                style: {
                    fontSize: '10px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },

        yAxis : {    
            title: {    
                text: '新增人数'  //y轴上的标题  
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        }, 

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        
        tooltip: {  
           xDateFormat: '%Y-%m-%d, %A'//鼠标移动到趋势线上时显示的日期格式  
        },
    });

});
</script>
    <script type="text/javascript">
        $(function(){
            $('.btn-export').on('click',function(e){
                var url = $('.btn-export').attr('url');
                window.location.href=url;
            });
        });

    </script>
</block>