 <div class="form-group">
		    <label for="coupon_start_time" class="col-sm-2 control-label ">开始时间：</label>
		    <div class="col-sm-2">
		     <input type="text" class="form-control " name="coupon_sell_start_time" id="coupon_sell_start_time" value="{$vo.coupon_sell_start_time}" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
		    </div>
	 	</div>
	 	
	 	<div class="form-group">
		    <label for="coupon_end_time" class="col-sm-2 control-label ">结束时间：</label>
		    <div class="col-sm-2">
		    <input type="text" class="form-control " name="coupon_sell_end_time" id="coupon_sell_end_time" value="{$vo.coupon_sell_end_time}" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
		    </div>
	 	</div>