<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>老虎彩票下载页</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/webreg/css/style.css">
</head>
<body>
	<div><img src="__PUBLIC__/Home/webreg/img/bg.jpg" style="width:100%" /></div>
    
    <div class="pop2" align="center">
    	<img src="__PUBLIC__/Home/webreg/img/success-bg.png" /><br>
        <button id="btn_down" type="button" class="btn_down"></button>
    </div>
    
    <div class="shadow2" id="shadow"></div>
    <div class="prompt" align="right" id="prompt">
        <img src="__PUBLIC__/Home/webreg/img/txt_3.png" width="60%" id="pic">
    </div>
    
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="__PUBLIC__/Home/webreg/js/login.js"></script>
</body>
</html>
