<xml>
<service>{$data['service']}</service>
<version>{$data['version']}</version>
<mch_id>{$data['mch_id']}</mch_id>
<out_trade_no>{$data['out_trade_no']}</out_trade_no>
<body>{$data['body']}</body>
<total_fee>{$data['total_fee']}</total_fee>
<mch_create_ip>{$data['mch_create_ip']}</mch_create_ip>
<notify_url><![CDATA[{$data['notify_url']}]]></notify_url>
<callback_url><![CDATA[{$data['callback_url']}]]></callback_url>
<device_info>{$data['device_info']}</device_info>
<mch_app_name><![CDATA[{$data['mch_app_name']}]]></mch_app_name>
<mch_app_id>{$data['mch_app_id']}</mch_app_id>
<nonce_str><![CDATA[{$data['nonce_str']}]]></nonce_str>
<sign><![CDATA[{$data['sign']}]]></sign>
</xml>