<extend name="Public/base" />

<block name="body"> <!-- 标题栏 -->
<div class="main-title">
	<h2>方案列表</h2>
</div>
<div class="cf">
	<div class="fl">
		<a class="btn" href="{:U('add')}">新 增</a>
		<a class="btn" href="{:U('config')}">设置方案</a>
	</div>

	<!-- 高级搜索 -->
	<div class="search-form fr cf">
		<form class="form-inline" role="form" action="{:U('index')}" method="post">
			
			<div class="form-group">
				<label  for="lottery_id">彩种：</label>
				<select name="lottery_id" id="lottery_id">
				<option value="">全部彩种</option>
				<volist name="lottery_map" id="lottery">
				<option value="{$key}" 
					<eq name="Think.request.lottery_id" value="$key">
					selected="selected" </eq>
					
					>	
				{$lottery}</option>
				</volist>
				</select>
			</div>
			
			
			<button type="submit" class="btn btn-default">搜索</button>
		</form>
	</div>
</div>
<!-- 数据列表 -->
<div class="data-table table-striped">
	<table class="table table-striped table-bordered table-hover table-condensed">
		<thead>
			<tr>
				<th class="">彩种</th>
				<th class="">方案名称</th>
				<th class="">方案值</th>
				<th class="">开始期号</th>
				<th class="">结束期号</th>
				<th class="">状态</th>
				<th class="">操作</th>
			</tr>
		</thead>
		<tbody>
			<notempty name="list"> <volist name="list" id="vo">
			<tr>

				<td>{$lottery_map[$vo['lottery_id']]}</td>
				<td>{$vo.scheme_name}</td>
				<td>{$vo.scheme_val}</td>
				<td>{$vo.start_issueno}</td>
				<td>{$vo.end_issueno}</td>
				<td>{$vo.scheme_status|getSchemeStatusText}</td>
				<td>
				<a href="{:U('edit', array('id'=>$vo['scheme_id']))}" class="btn btn-mini" >编辑</a>
	
				</td>
			</tr>
			</volist> <else />
			<td colspan="8" class="text-center">aOh! 暂时还没有内容!</td>
			</notempty>
		</tbody>
	</table>
</div>
<div class="page">{$_page}</div>
</block>

<block name="script"> 

</block>
