<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<title>微信扫码支付</title>
<link href="__PUBLIC__/Content/recharge/css/style.css" rel="stylesheet"> 
</head>
<body>



<div class="cont" align="center">

    <img src="{$qr_url}&data={$qr_data}" width="47%" class="weixin" id="pay_image">
    
    <img src="__PUBLIC__/Content/recharge/img/click.png" width="19%" class="hand-img">
    
    <p class="black-p" width="80%">您有2种办法完成微信支付:</p>
    <br/>
    
    <div class="step-box">
    
        <div class="step1-icon-box" align="center">
            <img src="__PUBLIC__/Content/recharge/img/1@2x.png" width="20" class="left-icon"><p class="tt" align="center"><span></span></p>
        </div>
        
        <div class="step1-1-box" align="left">
            
            <p><span>一、点击右上角“保存到相册”</span></p>
            <img src="__PUBLIC__/Content/recharge/img/步奏1@2x.png" width="100%">
        </div>
        
        <div class="step1-1-box" align="left">
            <p style=""><span>二、打开微信“扫一扫”功能</span></p>
            <img src="__PUBLIC__/Content/recharge/img/步奏2@2x.png" width="100%">
        </div>
        
        <div class="step1-1-box" align="left">
            <p><span>三、从相册中选择该二维码图片完成付款</span></p>
            <img src="__PUBLIC__/Content/recharge/img/步奏3@2x.png" width="100%">
        </div>
        
        <div class="step2-box" align="center">
            <img src="__PUBLIC__/Content/recharge/img/2@2x.png" width="20" class="left-icon"><p class="tt" align="center"><span>使用另外一部手机微信扫描上方的二维码完成付款</span></p>
        </div>
    
    </div>
    
    
    
</div>

</body>

</html>
