<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<title></title>
<link href="__PUBLIC__/Home/pay/css/style.css" rel="stylesheet"> 
</head>
<body>
<!-- 顶部 -->
<!-- <div class="top">
    <div class="top1" align="center">
    	<div class="top1-div1"><span>转账充值</span></div>
    	<div class="top1-div2"><a><img src="__PUBLIC__/Home/pay/img/back.png" /></a><a></a></div>   
    </div>
</div> -->

<div class="cont2" align="center">

	<p>请您通过银行转账的形式给下列银行汇款，然后联系客服（<span>400-835-1108</span>）完成充值</p>
	<img src="__PUBLIC__/Home/pay/img/china_bank.png" width="33%">
	<div class="bank-info">
		<div align="left">
			<span class="title">户&emsp;名：</span><p class="info">福州虎彩网络科技有限公司</p><br/>
		</div>
		<div align="left">
			<span class="title">开户行：</span><p class="info">中国银行股份有限公司福州鼓楼支行</p><br/>
		</div>
		<div align="left">
			<span class="title">账&emsp;号：</span><p class="info">4273 6896 9493</p>
		</div>
	</div>
	
	
	
</div>
<div align="center" class="footer"><i></i>客服热线 <span>400-835-1108</span></div>
</body>

</html>
