<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{:isset($vo['lottery_id'])?'编辑':'新增'}彩种</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    
   		<div class="form-group">
		    <label for="lottery_id" class="col-sm-2 control-label">彩种ID：</label>
		    <div class="col-sm-2">
		      <input type="text" class="form-control" name="lottery_id" id="lottery_id" value="{$vo.lottery_id}" 
		      <notempty name="vo.lottery_id">readonly="readonly"</notempty>
		      >
		    </div>
	 	</div>
	    <div class="form-group">
		    <label for="lottery_name" class="col-sm-2 control-label">彩种名称：</label>
		    <div class="col-sm-2">
		      <input type="text" class="form-control" name="lottery_name" id="lottery_name" value="{$vo.lottery_name}">
		    </div>
	 	</div>
	  <div class="form-group">
	    <label for="lottery_price" class="col-sm-2 control-label">价格：</label>
	    <div class="col-sm-2">
	      <input type="text" class="form-control" name="lottery_price" id="lottery_price"  value="{$vo.lottery_price}">
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label for="lottery_order_weight" class="col-sm-2 control-label">权重：</label>
	    <div class="col-sm-2">
	      <input type="text" class="form-control" name="lottery_order_weight" id="lottery_order_weight" 
	       value="{$vo.lottery_order_weight}">
	    </div>
	  </div>
	  
	   <div class="form-group">
	    <label for="lottery_status" class="col-sm-2 control-label">状态：</label>
	    <div class="col-sm-2">
	      <select name="lottery_status" id="lottery_status">
	      <option value="0"
	      <eq name="vo.lottery_status" value="0">
	      selected="selected"
	      </eq>
	      >禁用</option>
	      <option value="1" 
	      <eq name="vo.lottery_status" value="1">
	      selected="selected"
	      </eq>
	      >启用</option>
	      </select>
	    </div>
	  	</div>


		<div class="form-group">
			<label for="support_play_types" class="col-sm-2 control-label">支持玩法：</label>
			<div class="col-sm-2">
				<?php foreach($support_play_type_list as $support_play_type => $support_play_type_info){ ?>
				<input type="checkbox" id="support_play_types" value="{$support_play_type}" class="" name="support_play_types[]" <?php if($support_play_type_info['is_support'] == 1){ ?> checked="checked"  <?php } ?>> <?php echo $support_play_type_info['play_type_desc']; ?>
				<?php } ?>
			</div>
		</div>
	
	   <div class="form-group">
	    	<label for="lottery_status" class="col-sm-2 control-label">是否显示：</label>
	   		<div class="col-sm-2">
	      		<select name="lottery_is_show" id="lottery_status">
	      			<option value="0" 
	      				<eq name="vo.lottery_is_show" value="0">
	      					selected="selected"
	      				</eq>
	      			>隐藏</option>
	      			<option value="1" 
	      				<eq name="vo.lottery_is_show" value="1">
	      					selected="selected"
	      				</eq>
	      			>显示</option>
	      		</select>
	    	</div>
	  </div>

	  <div class="form-group">
	    <label for="lottery_slogon" class="col-sm-2 control-label">slogan：</label>
	    <div class="col-sm-2">
	      <input type="text" class="form-control" name="lottery_slogon" id="lottery_slogan" 
	       value="{$vo.lottery_slogon}">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="lottery_short_slogon" class="col-sm-2 control-label">简短slogan：</label>
	    <div class="col-sm-2">
	      <input type="text" class="form-control" name="lottery_short_slogon" id="lottery_short_slogon" 
	       value="{$vo.lottery_short_slogon}">

	      <select name="lottery_short_slogon_priority">
	      		<option value="2" <if condition="$vo['lottery_short_slogon_priority'] eq 2">selected</if>>普通（黄色）</option>
	      		<option value="1" <if condition="$vo['lottery_short_slogon_priority'] eq 1">selected</if>>重要（红色）</option>
	      </select>
	    </div>
	  </div>
	   <div class="form-group">
	    <label for="lottery_introduction" class="col-sm-2 control-label">玩法介绍：</label>
	    <div class="col-sm-6">
	      <textarea class="form-control" rows="8" name="lottery_introduction" id="lottery_introduction" >{$vo.lottery_introduction}</textarea>
	    </div>
	  </div>
	  
 		
 	 <div class="form-group">
	    <label for="lottery_image" class="col-sm-2 control-label">图片：</label>
	    <div class="col-sm-2">
	      <input type="file" class="" name="lottery_image"  id="lottery_image">
	    </div>
	  </div>
	  
	  <div class="form-group">
			<label for="lottery_slogon" class="col-sm-2 control-label">数字彩每天总共彩期数：</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" name="lottery_issue_count" id="lottery_issue_count"
					   value="{$vo.lottery_issue_count}">
			</div>
		</div>
	  
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default">提交</button>
	    </div>
	  </div>
    </form>
</block>

<block name="script">
<script type="text/javascript">
var lottery_id = {$vo['lottery_id']};
	if(lottery_id){
		highlight_subnav('{:U('index')}');
	}
</script>   
</block>