<extend name="Public/base" />

<block name="body"> <!-- 标题栏 -->
<div class="main-title">
	<h2>数字彩套餐列表</h2>
</div>
<div class="cf">
	<div class="fl">
		<a class="btn" href="{:U('add')}">新 增</a>
	</div>

	<!-- 高级搜索 -->
	<div class="search-form fr cf">

	</div>
</div>

<!-- 数据列表 -->
<div class="data-table table-striped">
	<table class="table table-striped table-bordered table-hover table-condensed">
		<thead>
			<tr>

				<th class="">名称</th>
				<th class="">类别</th>
				<th class="">彩种</th>
				<th class="">注数</th>
				<th class="">期数</th>
				<th class="">套餐价格</th>
				<th class="">状态</th>
				<th class="">操作</th>
			</tr>
		</thead>
		<tbody>
			<notempty name="list"> <volist name="list" id="vo">
			<tr>

				<td>{$vo.lp_title}</td>
				<td>
					<?php if($vo['lp_category_id'] == 1){ ?>每期1注
					<?php }elseif($vo['lp_category_id'] == 2){ ?>每期5注
					<?php }elseif($vo['lp_category_id'] == 3){ ?>每期10注
					<?php } ?>
				</td>
				<td>
					<?php if($vo['lottery_id'] == 1){ ?>双色球
					<?php }elseif($vo['lottery_id'] == 3){ ?>大乐透
					<?php } ?>
				</td>
				<td>{$vo.lp_stake_count}</td>
				<td>{$vo.lp_issue_num}</td>
				<td>{$vo.lp_price}</td>
				<td>{$vo.lp_status|status_text}</td>
				<td>
					<a href="{:U('edit', array('id'=>$vo['lp_id']))}" class="btn btn-mini">编辑</a>
					<eq name="vo.lp_status" value="1"> <a
							href="{:U('changeStatus', array('status'=>0,'ids'=>$vo['lp_id']))}"
							class="ajax-get btn btn-mini">禁用</a> <else /> <a
							href="{:U('changeStatus', array('status'=>1,'ids'=>$vo['lp_id']))}"
							class="ajax-get btn btn-mini">启用</a> </eq>
				</td>
			</tr>
			</volist> <else />
			<td colspan="8" class="text-center">aOh! 暂时还没有内容!</td>
			</notempty>
		</tbody>
	</table>
</div>
<div class="page">{$_page}</div>
</block>

<block name="script"> </block>
