<extend name="Public/base"/>

<block name="body">
    <div class="cf">
    	<div class="search-form fr cf">
    	<form class="form-inline" role="form" action="{:U('Statistics/informationView')}" method="post">
    		  <div class="form-group">
    		    <label  for="s_date">开始时间：</label>
    		    <input type="text" class="form-control input-sm" id="s_date" name="s_date" value="{$s_date}" placeholder="开始时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
    		  </div>
    		  <div class="form-group">
    		   
    		      <label  for="s_date">结束时间：</label>
    		      <input class="form-control input-sm" type="text" id="e_date" name="e_date" value="{$e_date}"  placeholder="结束时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
    		    
    		  </div>
    		  
    		  <button type="submit" class="btn btn-default">查询</button>
    	</form>
    	</div>
    </div>
    <div class="data-table" id="container" ></div>
    <div class="fr">每日平均: <span style="color:red">{$average}</span>次 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区间合计：<span style="color:red">{$sum}</span>次 </div>
</block>

<block name="script">

<script src="__STATIC__/highcharts/js/highcharts.js"></script>
<script src="__STATIC__/highcharts/js/modules/exporting.js"></script>
<script src="__STATIC__/highcharts/js/themes/dark-unica.js"></script>
<script type="text/javascript">
$(function () {
	Highcharts.setOptions({
		global: {
			useUTC: false
		}
	});
	$('#container').highcharts({
		credits:{
			enabled : false
		},

        title: {
            text: '资讯报表',
            x: -20 //center
        },

        subtitle: {
            text: '',
            x: -20
        },

        xAxis: {
            categories: {$category},
            labels: {
                rotation: -45,
                style: {
                    fontSize: '10px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },

        yAxis: {
            title: {
                text: '浏览次数 (次)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },

        tooltip: {
            valueSuffix: '次'
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        
        series: {$series}
    });

});
</script>
</block>