<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>支付结果</title>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

</head>
<body>
{$desc}
	
	<!-- <a href="javascript:a();" class="funcBtn">查看订单</a>
	<if condition="$lottery_id gt 0">
	<a href="javascript:window.location = 'com.tigercai.www://tigerserver/?page=2&lotteryid={$lottery_id}';" class="funcBtn">继续投注</a>
	<else />
		<a href="javascript:window.location = 'com.tigercai.www://tigerserver/?page=0';" class="funcBtn">继续投注</a>
	</if> -->


</body>
</html>


<script type="text/javascript">
var mobileAppInstall = (function() {
    var ua = navigator.userAgent,
    loadIframe, win = window;

    function getIntentIframe() {
        if (!loadIframe) {
            var iframe = document.createElement("iframe");
            iframe.style.cssText = "display:none;width:0px;height:0px;";
            document.body.appendChild(iframe);
            loadIframe = iframe;
        }
        return loadIframe;
    }

    function getChromeIntent(url) {
        // 根据自己的产品修改吧
        return "intent://tigercai.com/#Intent;scheme=" + url + ";package=co.sihe.tigerlottery;end";
    }
    var appInstall = {
        isChrome: ua.match(/Chrome\/([\d.]+)/) || ua.match(/CriOS\/([\d.]+)/),
        isAndroid: ua.match(/(Android);?[\s\/]+([\d.]+)?/),
        timeout: 500,
        /**
     * 尝试跳转appurl,如果跳转失败，进入h5url
     * @param {Object} appurl 应用地址
     * @param {Object} h5url  http地址
     */
        open: function(appurl, h5url) {
            var t = Date.now();
            appInstall.openApp(appurl);
            setTimeout(function() {
                if (Date.now() - t < appInstall.timeout + 100) {
                    h5url && appInstall.openH5(h5url);
                }
            },
            appInstall.timeout)
        },
        openApp: function(appurl) {
            if (appInstall.isChrome) {
                if (appInstall.isAndroid) {
                    win.location.href = getChromeIntent(appurl);
                } else {
                    win.location.href = appurl;
                }
            } else {
                getIntentIframe().src = appurl;
				alert("openApp() " + appurl);
            }
        },
        openH5: function(h5url) {
            win.location.href = h5url;
        }
    }

    return appInstall;
})();
function a(){
	var appUrl="tigercai://tigercai.com/recharge";
	// window.location.href = appUrl;
	mobileAppInstall.open(appUrl,appUrl);
	alert(appUrl);
}


</script>