<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首充满20送128</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" >
    <meta name="apple-touch-fullscreen" content="yes" >
    <meta name="format-detection" content="telephone=no" />
<style>
*{margin: 0;padding: 0;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;outline: none;-webkit-tap-highlight-color: rgba(0,0,0,0); }
body{background-color: #E04529; background-image:url(http://tclottery.oss-cn-hangzhou.aliyuncs.com/activity_image/newUserRecharge_activity/bg.png); background-position: left top;background-repeat: no-repeat;background-size: 100% auto; }
/*规则按钮*/
.btn-rule{display:inline-block;background-image:url(http://tclottery.oss-cn-hangzhou.aliyuncs.com/activity_image/newUserRecharge_activity/btn_rule.png);background-size:100% auto;background-repeat:no-repeat;background-position:left top;text-decoration:none;position:absolute;right:5%;z-index:2;border:0;outline:0;box-shadow:none;background-color:transparent;padding:10% 0;width:17%;float:right;margin:0;top:0}
/*礼包详情*/
.award-wrap{text-align: center;  margin: 101% 0 0 0;  }
.award-wrap .title{  text-align: left;  width:90%; margin: 0 auto; }
.award-wrap .title img{ width: 100%; }
.award-wrap .cont{ text-align: left; width:90%; margin: 9px auto; padding: 0; }
.award-wrap .cont h2{background-color:#fdc94c;color:#9e1c17;font-size:26px;text-align:center;padding:5px 0;margin:12px 0;font-weight:normal}
.award-wrap .cont h2 span{ display: inline-block; font-size: 28px; margin: 0 0 0 2%; }
.award-wrap .cont ul{ list-style: none; padding: 0; }
.award-wrap .cont ul li{margin:0 0 9px 0;position:relative;word-break:break-all;background-image:url(http://tclottery.oss-cn-hangzhou.aliyuncs.com/activity_image/newUserRecharge_activity/bg-quan.png);background-position:left top;background-repeat:no-repeat;background-size:100% 100%;font-size:12px;overflow:hidden;text-align:center;padding:10px 0}
.award-wrap .cont ul li span{ display: inline-block; float: left; width: 60%; color: #333;  }
.award-wrap .cont ul li b{ display: inline-block; float: left; width: 40%; color: #E23131; font-weight: normal; }
/*按钮*/
.btn-wrap{ background-color: #B43821; padding: 5px 0; margin: 10px 0 0 0; text-align: center; }
.btn-wrap a.btn-chong{display:inline-block;background-color:transparent;border:0;outline:0;background-image:url(http://tclottery.oss-cn-hangzhou.aliyuncs.com/activity_image/newUserRecharge_activity/btn_chong_nor.png);background-position:center center;background-repeat:no-repeat;background-size:100% auto;padding:8% 0;width:50%}
.shadow{  position: fixed; width: 100%; height: 100%; background-color: #000000; opacity: 0.5; top: 0; left: 0; z-index: 10; display: none; }
.rule-wrap{  position: fixed; width: 100%; height: 100%; top: 12%; left: 0; z-index: 11; display: none;  }
.rule-wrap .cont{  width: 90%; margin: 0 auto; background-color: #ffffff; border-radius: 5px; color: #333333; position: relative; }
.rule-wrap .cont ul{  list-style: none; font-size: 14px; line-height: 22px; padding: 5%;  }
.rule-wrap .cont p{  text-align: center; font-size: 20px;  padding: 8% 0 0 0;  }
.btn-close{  float: right;  position: absolute;  right: 2%;  top: 2%; width: 9%;  }
.btn-close img{  width: 100%;  }
.rule-wrap .cont ul li{  margin: 0 0 2% 0;  }
/*iphone4 iphone5*/
@media screen and (max-width:320px) {  .btn-rule{  right: 3.8%;  }  }
</style>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://tclottery.oss-cn-hangzhou.aliyuncs.com/web_source/baiduStatisticalCode/baiduStatisticalCode.js"></script>
</head>
<body>
	<!-- 活动规则按钮 -->
	<a href="javascript:void(0)" class="btn-rule"></a>
    <!-- 活动奖励 -->
    <div class="award-wrap">
    	<div class="title"><img src="http://tclottery.oss-cn-hangzhou.aliyuncs.com/activity_image/newUserRecharge_activity/title.png"/></div>
        <div class="cont">
        	<ul>
            	<li><span>1元直减+满5减1+满60减3</span><b>立即生效</b></li>
                <li><span>满20减1+满30减2+满100减6</span><b>首轮红包赠送5天后</b></li>
                <li><span>满30减2+满60减3+满120减8</span><b>上轮红包赠送5天后</b></li>
                <li><span>1元直减+满30减2+满100减6</span><b>上轮红包赠送5天后</b></li>
                <li><span>满60减3+满120减8+满150减9</span><b>上轮红包赠送5天后</b></li>
                <li><span>满60减3+满100减6+满120减8</span><b>上轮红包赠送5天后</b></li>
                <li><span>满20减1+满30减2+满120减8</span><b>上轮红包赠送5天后</b></li>
                <li><span>1元直减+满20减1+满100减6</span><b>上轮红包赠送5天后</b></li>
                <li><span>满5减1+满30减2+满60减3</span><b>上轮红包赠送5天后</b></li>
                <li><span>满20减1+满30减2+满100减6</span><b>上轮红包赠送5天后</b></li>
                <li><span>满30减2+满60减3+满120减8</span><b>上轮红包赠送5天后</b></li>
                <li><span>1元直减+满20减1+满100减6</span><b>上轮红包赠送5天后</b></li>
            </ul>
            <h2>总计<span>128</span>元</h2>
        </div>
    </div>
    <div class="btn-wrap">
        <!-- 去充值按钮 -->
        <a href="/api/tiger?act=10702&em=0&data=eyJtb25leSI6MjB9" class="btn-chong"></a>
    </div>
    <!-- 规则弹窗 -->
    <div class="shadow"></div>
    <div class="rule-wrap">
        <div class="cont">
            <a name="btn_close" class="btn-close" href="javascript:void(0)"><img src="http://tclottery.oss-cn-hangzhou.aliyuncs.com/activity_image/newUserRecharge_activity/btn-close.png"></a>
            <p>规则</p>
            <ul>
                <li>1、首次完成充值且充值金额≥20元的用户才可获得大礼包，礼包分期派发，派发后立即生效。用户可在“我的”-“红包”中查看收到的红包；</li>
                <li>2、充值的20元金额可立即使用，提现需符合提现要求方能提现，赠送的红包分期派发，使用期限有限，请在使用期限内及时使用；</li>
                <li>3、本活动为新用户专享，此活动每个用户限领一次，新注册未充值的用户均可参与此活动，我们会依照新用户注册的手机号、设备号进行验证保证公平、平等、无作弊原则，如发现有任何形式的作弊，本APP有权取消或不派发红包；</li>
                <li>4、本活动解释权归本APP所有，不需要用户或第三方承担任何责任；</li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function(){
            initBtnRule();
            initBtnClose();
        });
        function initBtnRule() {
            $(".btn-rule").unbind();
            $(".btn-rule").bind("click",function () {
                $(".shadow").show();
                $(".rule-wrap").show();
            });
        }
        function initBtnClose() {
            $("a[name='btn_close']").unbind();
            $("a[name='btn_close']").bind("click",function () {
                $(".shadow").hide();
                $(".rule-wrap").hide();
            });
        }

    </script>
</body>
</html>
