<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<title>相约里约2016，2串1加奖10%！</title>
<link href="__ROOT__/Public/Content/fz520/css/style.css" rel="stylesheet"> 
</head>
<body>
	<div class="img-box">
        <img src="__ROOT__/Public/Content/fz520/images/banner3.png" />
    </div>
    <div class="bottom-box" align="center">
        <div align="left">
            <p>8月1日起至8月31日</p>
        
            <p>8月1日起，凡是在老虎彩票下单2串1（方案内不含3串1等其他组合方案）并中奖的用户，均可获得单笔方案奖金金额10%的红包加奖，不限场次、不限金额、不限订单数，最高奖励不上限！</p>
            
            <p>所有注册用户都可参加，只要在老虎彩票客户端买2串1方案，即可享受加奖</p>
            
            <p>5000万红包，派完为止</p>
        
            <p>每位用户购买的2串1方案中奖后，红包及奖金即时发放到账，不用等待，到账即可使用，红包永久有效，不能提现，无范围限定！</p>
        </div>
        
        <div>
            <a href="/api/tiger?act=10701&em=0&data=eyJsb3R0ZXJ5X2lkIjoiNiJ9"><span></span></a>
        </div>
        <div>
            <span>本活动最终解释权归本APP所有</span>
        </div>
    </div>
</body>
</html>
