<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<title>助威中国队，突围世界杯！</title>
<link href="__ROOT__/Public/Content/jiajiang/css/style.css?0905" rel="stylesheet"> 
</head>
<body>
	<div class="img-box">
        <img src="__ROOT__/Public/Content/jiajiang/images/banner.png" />
    </div>
    <div class="bottom-box" align="center">
        <div align="left">
            <p><span>活动时间：</span>8月29日起</p>

            <p><span>活动内容：</span>中国队12强世界杯突围赛即将开始，为助威中国队突围世界杯，老板决定原定8月31日结束的2串1加奖活动，现继续加奖2000万。8月29日起，凡是在老虎彩票下单2串1（方案内不含3串1等其他组合方案）并中奖的用户，均可获得单笔方案奖金金额10%的红包加奖，不限场次、不限金额、不限订单数，最高奖励不上限！</p>
            
            <p><span>活动条件：</span>所有注册用户都可参加，只要在老虎彩票客户端买2串1方案，即可享受加奖</p>
            
            <p><span>活动奖励：</span>2000万红包，派完为止</p>
        
            <p><span>派发方式：</span>每位用户购买的2串1方案中奖后，红包及奖金即时发放到账，不用等待，到账即可使用，红包永久有效，不能提现，无范围限定！</p>
        </div>
        
        <div>
            <a href="/api/tiger?act=10701&em=0&data=eyJsb3R0ZXJ5X2lkIjoiNiJ9"><span></span></a>
        </div>
        <div>
            <span>本活动最终解释权归本APP所有</span>
        </div>
    </div>
</body>

</html>