<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>欧冠决赛返利活动</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" >
    <meta name="apple-touch-fullscreen" content="yes" >
    <meta name="format-detection" content="telephone=no" />
	<style>
		*{margin: 0;padding: 0;}
	</style>
	<script src="http://tclottery.oss-cn-hangzhou.aliyuncs.com/web_source/baiduStatisticalCode/baiduStatisticalCode.js"></script>
</head>
<body>
	<div style="overflow: hidden;"><img src="http://tclottery.oss-cn-hangzhou.aliyuncs.com/activity_image/JuventusVSRealMadrid/img/ad.jpg" style="float: left;width: 100%;"/></div>
</body>
</html>
