<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<title>木瓜金融</title>
<link href="__ROOT__/Public/Content/fz518/css/style.css" rel="stylesheet"> 
</head>
<body>

</body>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?a5ed9d009e392bc2167010a85eaba0ed";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
location.href = 'http://a.app.qq.com/o/simple.jsp?pkgname=com.juyoulicai&ckey=CK1306955586956';
</script>

</html>
