<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>活动火速建设中</title>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<style>
body{ margin: 0; padding: 0;}
img {margin: 0; padding: 0; position:absolute;}
</style>
</head>
<body>
    <img src="__PUBLIC__/Home/CouponRankForActivity/images/yg2.png" style="width:100%;" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?a5ed9d009e392bc2167010a85eaba0ed";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>


</body>
</html>
